.cardContainer {
  color: white;
}
.animateCardContainer {
  color: white;
}
.servicesOuterContainer {
  width: 95%;
  height: 95vh;
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}
.servicesOuterContainer motion.li {
  height: 20px;
  width: 20px;
  margin: 10px;
}
.ulConatiner {
  display: flex !important;
  justify-content: space-evenly !important;
  list-style: none !important;
  height: 83vh !important;
  padding: 0px;
  background: transparent;
  padding-top: 10px;
}
.cardCustom h5 {
  font-weight: bold;
  margin-bottom: 15px;
}
.cardCustom p {
  font-size: 16px;
}
.cardCustom {
  color: white;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 0.34);
}
@media (max-width: 1040px) {
  .servicesOuterContainer {
    overflow-y: auto;
  }
  .ulConatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 650px;
  }
}
@media (max-width: 550px) {
  .servicesOuterContainer h1 {
    font-size: 35px;
  }
  .servicesOuterContainer {
    height: 97vh;
  }
}
@media (max-width: 500px) {
  .cardText {
    font-size: 15px !important;
  }
}
